body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #000
}

body.no-scroll {
    overflow: hidden
}

body>h1 {
    position: absolute;
    top: -9999px;
    opacity: 0;
    visibility: hidden
}

body>* {
    direction: rtl
}

a {
    color: inherit;
    text-decoration: none
}

ul {
    padding: 0
}

li {
    display: block
}

h1,h2,h3,h4,h5,h6,figure,ul,p {
    margin: 0
}

.d-f {
    display: flex
}

.jc-c {
    justify-content: center
}

.jc-sb {
    justify-content: space-between
}

.fxd-c {
    flex-direction: column
}

.ai-c {
    align-items: center
}

.fx-1 {
    flex: 1
}

.fxw-w {
    flex-wrap: wrap
}
input,select,button {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    margin: 0
}

button {
 
    border: none;
    background-color: transparent;
    padding: 0
}

button:not([disabled]) {
    cursor: pointer
}

.tpbr {
    display: block;
    background-color: #43a071;
    padding: 8px 0;
    transition: .25s ease;
}
a {    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.wrap {
  max-width: 85%;
    padding: 0 15px;
    margin: auto;
}
.tpbr__text {
    height: 21px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

header{
    direction: ltr;
    box-shadow: 0 0 3px #474747;
}
.sub_header{
    padding-block: 2rem;
}
.emojione {
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    height: 1em;
    width: 1em;
    min-width: 20px;
    min-height: 20px;
    line-height: 1;
    margin: -0.1em 0.1em 0.1em;
}
.df{
    display: flex;
    align-items: center;
}
.df2{
    justify-content: space-between; 
}
ul{
    list-style: none;

}
.list_nav{
    gap: 2.5rem;
    color: #575656;
}
.list_icons{
    gap: 1rem;
}


.list_icons svg{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #eee;
    padding: 5px;
    border-radius: 50%;
}
.list_icons svg:hover {
    background-color: #43a071;
}
.list_icons li:first-child :hover path {
    stroke: #fff;
 }
 

.list_items{
    font-size: 1rem;
   
    font-weight: bold;
    gap: 1rem;
}
.list_items li {
    cursor: pointer;
}
.list_items li a:hover{
    color: #43a071;
}
.menu_button{
    outline: none;
    border: none;
    background: none;
    margin-right: 1rem;
    cursor: pointer;
     margin-right: 2rem;
     padding: 5px;
     border-radius: 5px;
}
.menu_button:hover{
    background: #ecebeb;
    
}

.menu_button>span{
    border-radius: 5px;
    display: block;
    width: 30px;
    height: 4px;
    background:#333;
    margin-top: 2px;
}
.menu_button>span:nth-child(4){
    width: 20px;
}
.menu_button>span:nth-child(2){
    width: 25px;
}
/**************************/
.product_side{
    width: 45%;
    margin-left: 30px;
}
section{
    margin-top: 2rem;
}
.product_side figure{
    border: 1px solid #e8e8e8;
}
.product_side img{
    width: 100%;
    height: 100%;
}/* star*/
.rtng {
    width: 16px;
    height: 16px;
    background-image: url(https://www.soq-dz.com/wp-content/themes/maec/resources/images/icons/star.svg);
}
.imbg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
}
.product__rtng li:not(:last-child) {
    margin-left: 5px;
}
.product__rtng {
    margin: 15px 0;
}.card__rtng li:not(:last-child) {
    margin-left: 5px;
}/********************** contact us********************/
.stkw__icon img {
    margin: 0 auto 15px;
    width: 72px;
    height: 72px;
}.stkw__title {
    font-weight: 700;
}.stkw__desc {
    margin-top: 5px;
    color: #696969;
}.stkw__grid {
    overflow: hidden;
}.stkw {
    padding: 30px 0;
    text-align: center;
}

/************* footer *******************/
.footer {
    padding-top: 30px;
}
.footer__wrap {
    border-top: 1px solid #e8e8e8;
    background-color: #fafafa;
}
.footer__clwr {
    padding: 30px 0;
}
.grid {
    margin-top: -25px;
    margin-right: -25px;
}
.footer__colm>* {
    width: 33.3333333333%;
    padding-left: 30px;
}
.grid>* {
    padding-top: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    width: 25%;
}
.footer__colm>*>*:not(:last-child) {
    margin-bottom: 50px;
}
.footer__mntt {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #aeaeae;
}
.footer__mnls li:not(:last-child) {
    margin-bottom: 10px;
}
.footer__mntt {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #aeaeae;
}
.footer__social li:not(:last-child) {
    margin-left: 20px;
}
.footer__copy {
    color: #696969;
}
.footer__logo {
    margin-bottom: 15px;
    filter: grayscale(100%);
    opacity: .75;
}.footer__mnls a {
    color: #696969;
}
.footer__mnls a:hover {
    color: #43a071;
}.footer__social {
    margin-top: 15px;
}
.footer__social li:not(:last-child) {
    margin-left: 20px;
}
.footer__social a {
    background-color: #fff;
    padding: 7px;
    border: 1px solid #dadada;
    border-radius: 3px;
}
.footer__social a svg {
    width: 18px;
    height: 18px;
    opacity: .4;
    transition: .25s ease;
}
/********************************/